* {
	padding: 0px;
	margin: 0px;
	font-family: Light, Monospace;
	font-size: 15px;
	color: rgb(0 0 0);
	border: none;
	outline: none;
	text-decoration: none;
}
body {
	background-color: rgb(250 250 250);
}
header {
	padding: 20px;
	background-color: rgb(0 200 200);
}
main {
	padding: 20px;
	width: 50%;
	margin: auto;
}
article.button {
	margin-top: 20px;
	padding: 20px 20px 0px 20px;
	background-color: unset;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200 200 200);
}
footer {
	padding: 20px;
	background-color: rgb(0 0 0);
	text-align: center;
}
i {
	color:rgb(250 250 250);
	margin: 0px 5px 0px 5px;
	font-size: 25px;
}
h1,h2,h3,h4,h5,h6,input {
	font-family: Bold, Monospace;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 20px;
}
:is(form,article) > :is(p,h1,h2,h3,h4) {
	margin-bottom: 20px;
}
form {
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200 200 200);
}
fieldset {
	display: flex;
}
input {
	padding: 10px;
	margin-right: 20px;
	flex: 1;
	color: rgb(0 0 0);
	background-color: rgb(250 250 250);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(200 200 200);
}
input.button {
	flex: 0;
	margin: unset;
}
input:focus-visible {
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	color: rgb(0 0 0);
	background-color: rgb(200 200 200);
}
::placeholder {
	color: rgb(0 0 0);
	opacity: 1;
}
img {
	width: 100%;
}
footer p {
	color: rgb(255 255 255);
}
.logo {
	margin: auto;
	width: 20%;
	max-width: 500px;
	min-width: 150px;
	display: flex;
	justify-content: center;
}
.button {
	padding: 10px;
	background-color: rgb(0 200 200);
	border-style: none;
}
.button:hover {
	background-color: rgb(200 200 200);
}
.icon {
	height: 50px;
}

.socials {
	display: flex;
}

.overlay {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0 0 0 / 0.5)
}
.popup {
	position: relative;
	margin: auto;
	padding: 20px;
	width: 50%;
	display: flex;
	justify-content: center;
	background: rgb(250 250 250);
}
@media screen and (max-width: 800px) {
	main {
		width: auto;
	}
}
@media screen and (max-width: 1270px) {
	fieldset {
		flex-direction: column;
	}
	input {
		margin-right: unset;
		margin-bottom: 20px;
	}
}
@font-face {
	font-family: Bold;
	src: url(semibold.woff2);
}
@font-face {
	font-family: Light;
	src: url(extralight.woff2);
}
