@font-face {
	font-family:Bold;
	src: url(semibold.woff2);
}
@font-face {
	font-family:Light;
	src: url(extralight.woff2);
}
@media screen and (min-width: 400px) {
	.logo {
		width:75%
	}
}
@media screen and (min-width: 800px) {
	main {
		width:100%;
	}
}
* {
	padding:0px;
	margin:0px;
	vertical-align:middle;
	font-family:Light;
	font-size:15px;
	color:rgb(0,0,0);
	text-decoration:none;
}
main {
	padding:20px;
	width:50%;
}
header {
	padding:20px;
	background-color:rgb(0,200,200);
}
footer {
	padding:20px;
	background-color:rgb(0,0,0);
}
h1,h2,h3,h4,h5,h6 {
	font-family:Bold;
}
h1 {
	font-size:40px;
}
h2 {
	font-size:35px;
}
h3 {
	font-size:30px;
}
h4 {
	font-size:25px;
}
h5 {
	font-size:20px;
}
article > h1, article > h2, article > h3, article > h4, article > h5, article > p {
	margin-bottom:20px;
}
fieldset {
	padding:20px;
	border-style:solid;
	border-width:1px;
	border-color:rgb(200,200,200);
}
legend {
	font-family:Bold;
	font-size:25px;
	padding-left:10px;
	padding-right:10px;
}
img {
	width:100%;
}
.logo {
	padding:0px;
	width:20%;
}
.white {
	color:rgb(255,255,255);
}
.button {
	padding:20px;
	background-color:
}
article.selector {
	margin-top:20px;
	padding:20px 20px 0px 20px;
	border-style:solid;
	border-width:1px;
	border-color:rgb(200,200,200);
}
article.selector:hover {
	background-color:rgb(200,200,200);
}
