@font-face {
font-family:Bold;
src: url(styles/semibold.woff2);
}

@font-face {
font-family:Light;
src: url(styles/extralight.woff2);
}

* {
padding:0vw;
margin:0vw;
font-family:Light;
}

header {
background-color:rgb(0,200,200);
color:rgb(255,255,255);
padding:1vw;
}

footer {
background-color:rgb(0,0,0);
padding:1vw;
}

h1 {
font-family:Bold;
font-size:10vh;
}

h2 {
font-size:10vh;
}

h3 {
font-family:Bold;
font-size:2vh;
}

p {
font-size:2vh;
}

hr {
background-color:rgb(150,150,150);
height:1px;
border-width:0vh;
}

img {
width:10vw;
}

.button {
font-family:Bold;
background-color:rgb(0,200,200);
padding:1vw;
text-decoration:none;
display: inline-block;
color:rgb(255,255,255);
}
